.landingPage {
    background-image: url("../../images/LandingPage/background_landingPage_7.jpg");  
    background-color: #efeef3;
    background-size: 100% auto;
    background-repeat: no-repeat;

    height: 100vh;
    margin:0%;
    padding-top: 26%;   
    padding-bottom: 0%; 
}

.title {
font-weight: bold;
font-size: 150px;
font-family: Galada;
font-style: italic;
margin:0 auto;
max-width: 60rem; 
}

.subtitle {
  
    font-size:40px;
    font-family: Galada;
    font-style: italic;
    margin:0 auto;
    max-width: 60rem; 
}

.button {
    border: 1px solid black;
    border-radius: 5px;
    font-weight: normal;
    font-size: 25px;;
    text-align: center;
    font-family: Galada;
    font-style:normal;
    width: auto;
    margin: 40px 5px 0 5px;
}